.date {
    color:gray;
    margin:0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title {
    text-align:center;
    text-decoration:underline;
    font-size: 4.0vw;
}

.topic {
    margin-top:1%;
    font-size:15px;
    line-height: 5px;
}

#world {
    color:Blue;
}

#design {
    color:greenyellow;
}

.subject-title {
    font-size:1.8vw;
    line-height: 5px;
}

.italics {
    font-style: italic;
    font-size:3.5vh;
}

li {
    font-size:1.8vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-size:2.0vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.older-button {
    color:lightblue;
}
.newer-button {
    color:lightgreen;
}

h1,h2,h3 {
    line-height: 5px;
}

a {
    color:blue;
}
