

.flexbox-header {
    display:flex;
    width:80%;
    margin:auto;
}

.headerbox {
    width:30%;
    /* background-color:blue; */
    padding:1%;
    margin:auto;
}

.icon {
 height:30px;
 width:30px;
 padding-left:50%;
}

.subscribe {
    font-size: 3.0vh;
    color:gray;
    text-align:center;
}